html,
body {
    height: 100;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* ab hacking begin */
.breadcrumb {
    border: 1px solid #DDD;
}

.grid-view .table-responsive {
    overflow: auto;
}

.grid-view .panel-title {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 24px;
    color: inherit;
}

.grid-view .summary {
    margin-top: 8px;
    padding-right: 10px;
}

.grid-view .table {
    margin-bottom: 0;
}

.panel-default, .panel-heading, .kv-panel-before, .grid-view thead th {
    border: none !important;
}

.panel-default > .panel-heading {
    color: #333;
    background: none !important;
}

.detail-view {
    border-bottom: none !important;
}

.detail-view .row {
    margin: 0;
    padding: 5px 0 5px 0 ;
    border: none;
    border-bottom: 1px solid #ddd;
}

.detail-view.table-striped div.row:nth-child(odd) {
    background-color: #f9f9f9;
}

.detail-view .col-xs-3 {
    text-align: right;
    padding-right: 0;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 20%;
}

.detail-view .col-xs-9 {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 80%;
}

/* for to/from filters in GridView  - until karik-v resolves in FieldRange */
.grid-view .form-control::-moz-placeholder {
    color: #ccc;
}
.grid-view .form-control:-ms-input-placeholder {
    color: #ccc;
}
.grid-view .form-control::-webkit-input-placeholder {
    color: #ccc;
}

.grid-view .input-daterange input  {
    text-align: left;
}

.grid-view .kv-field-from .form-control, .grid-view .kv-field-from.form-control {
    border-radius: 4px !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-width: 0;
}

.grid-view .kv-field-to .form-control, .grid-view .kv-field-to.form-control {
    border-radius: 4px !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.grid-view .kv-container-from .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
    border-bottom-width: 0;
    border-bottom-right-radius: 0;
}

.grid-view .kv-container-to .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
    border-bottom-width: 0;
    border-top-right-radius: 0;
    padding-bottom: 9px;
}

.grid-view .form-group {
    margin-bottom: 0; 
}

.grid-view .help-block {
    margin-top: 0;
    margin-bottom: 0;
}

.grid-view span.input-group-addon.kv-field-separator {
    display: none;
}

#search-resultbox li, #search-resultbox li a {
    min-height: 0;
}

.modal-content {
    overflow: auto;
}

.modal-content h3 {
    padding-left: 20px;
    padding-right: 20px;
}

#search-resultbox {
    margin: 0;
    padding: 0;
    list-style: none;

    overflow: auto;
    max-height: 100%;
    z-index: 1002;
}

#search-resultbox ul {
    padding-left: 0;
    margin: 0;
}


#search-resultbox li, #search-resultbox li a {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;

    color: #333333;
}

#search-resultbox li a .title, #search-resultbox li .no-results {
    padding: 10px 20px 5px 20px;
    display: block;

    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
}

#search-resultbox li a .description {
    padding: 10px 20px 10px 20px;
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-size: 90%;
    border-bottom: solid 1px #dddddd;
}

#search-resultbox li a:hover, #search-resultbox li a.selected {
    background: #44B5F6;
    text-decoration: none;
}
.note-editable {
    background: white;
}
.overflow-hidden {
    overflow:hidden;
}
